# 3. Scraping for Price Data
Scrape Yahoo! Finance for relevant price data for companies we found in notebook 2.

In [3]:
import os, requests, json

Start by loading the data.

In [9]:
data_path = os.path.join(os.environ['HOME'], 'data_science/syntact/buffett_emergence/companies_by_year.json')
with open(data_path, 'r') as f:
    data = json.load(f)
data.keys()

dict_keys(['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996'])

Let's look at all the company names we have, and how many times they occur.

In [20]:
import pandas as pd

company_occurrences = {}
for key in data.keys():
    for company in data[key]:
        if company in company_occurrences:
            company_occurrences[company] += 1
        else:
            company_occurrences[company] = 1

# Force this into a DataFrame for easier viewing.
df = pd.DataFrame(list(company_occurrences.items()), columns=['name', 'count'])
df.sort_values('count', ascending=False).head(10)

                  name  count
0            Microsoft     22
17         Exxon Mobil     20
13    General Electric     19
25   Royal Dutch Shell     16
27            Wal-Mart     14
6    Johnson & Johnson     11
8           Apple Inc.     10
19        China Mobile      8
5   Berkshire Hathaway      7
43              Pfizer      7